[uwsgi]

inherit = /etc/uwsgi/common.ini
{% if 'chdir' in item %}
chdir = {{ item.chdir }}
{% endif %}
{% if 'django' in item %}
env = DJANGO_SETTINGS_MODULE={{ item.module }}.settings
module = django.core.handlers.wsgi:WSGIHandler()
{% else %}
module = {{ item.module }}
{% endif %}
processes = {{ item.get('processes', 2) }}
{% if 'idle' in item %}
idle = 60
{% endif %}
{% if not 'global' in item %}
virtualenv = /usr/local/venv/%n
{% endif %}
procname-prefix-spaced = %n:
